    <div class="roundme">
        <div class="content roundme">
                <div class="row" style="margin-left:auto;">
                <div class="panel panel-primary roundme">
                    <div class="panel panel-heading roundme bluegrad">
                        <h3 class="medestextshadow" style="color:#FFFFFF;">About Domainomatics</h3>
                    </div>
		<div style="margin:10px;padding:10px;">
		    	<P>Domain-o-matics started life as a utility to help domainers find diamonds in a sea of expiring domains.</P>
		    	<P>The trick was to use textual analytics to sort through the hundreds of thousands of expiring domains each day.</P>
		    	<P>Once a textual score is given, then the domains are prioritized and additional analytics are performed.</P>
		    	<P>This tool is used to find good expiring domain names, but does not provide any accuracy to their availablility nor does the utility give the ability to purchase domains. Please use at your own discretion</P>
		    	<P> &mdash; Domainomatics Management </P>
		</div>
		</div>
	</div>
    </div>
