
    <div class="roundme">
        <div class="content roundme">
        	<div class="row" style="margin-left:auto;">
                <div class="panel panel-primary roundme">
                    <div class="panel panel-heading roundme bluegrad">
                        <h3 class="medestextshadow" style="color:#FFFFFF;">Signup for Domain Alerts</h3>
                    </div>
                    
                    <div class="panel panel-body roundme">
                        <div class="col-md-12">
                        	Domainomatics scans over 35,000 expiring domains daily. Be alerted when a domain containing your target word is found.<br><br>
                        </div>
                        <div class="col-md-12">
                            <div class="panel-heading roundme whitegradbg medesshadow" style="margin:10px;">
				<div class='text-danger text-center'>
					<?php if ($message) echo $message ?>
				</div>
                                <form method="POST" action="/alerts">
                                <br>
                                    <div class="col-md-6 " style="color:#000;" >
                                        <input class="input-control" style="color:#000;" type="text" name="email" value="" placeholder="Your Email Address"> <BR><BR>
                                        <input class="input-control" style="color:#000;" type="text" name="target" placeholder="Target Keyword"> <BR>(ex. casino, books, tech)
                                            <br><br>
                                    </div>
                                    <div class="col-md-6">
                                        <label style="color:#000;">
                                            <input class="input-control" type="checkbox" name="newsletter" value="1" checked=""> Send me an occasional newsletter &nbsp;
                                        </label>
					<BR><BR>
                                        <input class="input-control btn btn-success btn-block btn-lg" style="color:white" type="submit" name="cmd" value="Signup for Alert">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
