    <div class="roundme">
        <div class="content roundme">
                <div class="row" style="margin-left:auto;">
                <div class="panel panel-primary roundme">
                    <div class="panel panel-heading roundme bluegrad">
                        <h3 class="medestextshadow" style="color:#FFFFFF;">Contact Domainomatics</h3>
                    </div>
                <div style="margin:10px;padding:10px;">
            <P>Are you interested in contacting the creators of domainomatics? Please leave a message in the box below and your contact will be delivered.</P>
        <div class="col-sm-7 roundme medesshadow whitegrad" style="background:#fff; border:1px #3D8CE0 solid;">
        	<div style="height:10px;"></div>
            <form method="/contact">
                <div class="form-group">
                    <input class='input-control ourinput medesshadow' type="name" value="" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class='input-control ourinput medesshadow' type="name" value="" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class='input-control ourinput medesshadow' type="name" value="" placeholder="Subject">
                </div>
                <div class="form-group">
                    <textarea class='input-control ourtextarea medesshadow' name="message" cols=60 rows=10></textarea>
                </div>
                <div class="form-group">
                    <input class='input-control btn btn-default btn-lg bluegrad medesshadow' type="submit" name="cmd" value="Send" style="width:160px; color:#fff; margin:10px;">
                </div>
            </form>
        </div>
    </div>
    <div style="height:10px;"></div>
	</div>
</div>
