<div class='content domain'>
<?php include('banner.htm'); ?>
	<H1><?=$domain?></H1>
	<H4>Expiring <?=date("r",$domainData['expireTimestamp'])?></H4>
	<fieldset>
		<legend> Domain Text Information </legend>

		<P> <?=$domain?> is a <B>.<?=$domainData['textTLD']?></B> domain containing <B><?=strlen($domainData['domain'])?></B> characters.  
	<?php
		if ($domainData['textHyphen'] != 'true') $domainData['textHyphen'] = false;
		if ($domainData['textNumeric'] != 'true') $domainData['textNumeric'] = false;
		if ($domainData['textHyphen'] && $domainData['textNumeric']) { ?>
			The domain name does contain a hyphen and also contains a number.	
		<? } elseif ( ! $domainData['textHyphen'] && ! $domainData['textNumeric'] ) { ?>
			The domain name does not contain a hyphen nor does it contain any numbers.	
		<? } elseif ( $domainData['textHyphen'] ) { ?>
			The domain name does contain a hyphen, but does not contain any numbers.
		<? } else { ?>
			The domain does not contain a hyphen, but it does contain numbers.
		<? } ?>
	</P>
	<P>
	The domain name may contain <B><?= $domainData['textSyllables']?></B> syllable(s), which scores a <?=$domainData['factorSyllables']?> out of 100 syllable score. 
	</P>
	<BR>
	<B>Syllable Value Score : <?=$domainData['factorSyllables']?> % </B>
	
<div class="progress">
  <div class="progress-bar progress-bar-default progress-bar-striped" style="width: <?=$domainData['factorSyllables']?>%">
    <span class="sr-only"><?=$total?>% </span>
  </div>
</div>
	</P>

	<P>
	The letters used in the domain name <B><?=$domain?></B> score a total of <?=$domainData['factorSLD']?> points out of 100.
	</p>
	<B>Letter Value Score : <?=$domainData['factorSLD']?> % </B>

<div class="progress">
  <div class="progress-bar progress-bar-default progress-bar-striped" style="width: <?=$domainData['factorSLD']?>%">
    <span class="sr-only"><?=$total?>% </span>
  </div>
</div>
<?php
	$total = round(($domainData['factorSyllables'] + $domainData['factorSLD'] ) / 2, 2);
	$notTotal = 100 - $total;
?>

	<P>
		
	</P>
	<b>Text Score Total : <?= $total?> % </b>
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" style="width: <?=$total?>%">
    <span class="sr-only"><?=$total?>% </span>
  </div>
</div>
	</P>

	</fieldset>


	<fieldset>
		<legend> Extended Information </legend>
		Coming soon
		<div id="lazyload"> </div>
	</fieldset>
</div>
<script language='javascript'>
	$( document ). ready(function() {
		$('div#lazyload').load('/extended/<?=$domainData['_id']?>');
	});
</script>
<?php include('banner.htm'); ?>
