<div class="panel panel-default extended">
	<div class="panel-heading">
		EvoSix Score
	</div>
	<div class="panel-body">
		<?=$extended['evosix']?>
	</div>
</div>
<div class="panel panel-default extended">
	<div class="panel-heading">
		Domain Checks & Warnings
	</div>
	<div class="panel-body">
		<table class='table table-stripped'>
			<tr>
				<th>Safe Browsing</th>
				<td><?= ($extended['safeBrowsing'] ? 'Yes' : 'No' )?></td>
			</tr>
			<tr>
				<th>DMOZ</th>
				<td><?= ($extended['dmozListing'] ? 'Yes' : 'No' )?></td>
			</tr>
		</table>
	</div>
</div>
<!-- Alexa -->
<div class="panel panel-default extended">
	<div class="panel-heading">
		Alexa
	</div>
	<div class="panel-body">
		<table class='table table-striped'>
			<tr>
				<th> Rank </th>
				<td> <?=$extended['alexa']['Rank']?> </td>
			</tr>
			<tr>
				<th> Bounce Rate </th>
				<td> <?=$extended['alexa']['BounceRate']?> </td>
			</tr>
			<tr>
				<th> Views Per Visitor </th>
				<td> <?=$extended['alexa']['ViewsPerVisitor']?> </td>
			</tr>
			<tr>
				<th> Time On Site </th>
				<td> <?=$extended['alexa']['TimeOnSite']?> </td>
			</tr>
			<tr>
				<th> Search Visits </th>
				<td> <?=$extended['alexa']['SearchVisits']?> </td>
			</tr>
		</table>
	</div>
</div>
<!-- Google Page Rank -->
<div class="panel panel-default extended">
	<div class="panel-heading">
		Google 
	</div>
	<div class="panel-body">
		<table class='table table-striped'>
			<tr>
				<th> Page Rank </th>
				<td> <?=$extended['googlePR']?> </td>
			</tr>
			<tr>
				<th> Google Plus </th>
				<td> <?=$extended['googlePlus']?> </td>
			</tr>
			<tr>
				<th> Google Count </th>
				<td> <?=$extended['googleCount']?> </td>
			</tr>
		</table>
	</div>
</div>

<!-- FaceBook -->
<div class="panel panel-default extended">
	<div class="panel-heading">
		Facebook Statistics
	</div>
	<div class="panel-body">
		<table class='table table-striped'>
			<tr>
				<th> Url </th>
				<td> <?=$extended['fbStats']['normalized_url']?> </td>
			</tr>
			<tr>
				<th> Likes </th>
				<td> <?=$extended['fbStats']['like_count']?> </td>
			</tr>
			<tr>
				<th> Shares </th>
				<td> <?=$extended['fbStats']['share_count']?> </td>
			</tr>
			<tr>
				<th> Comments </th>
				<td> <?=$extended['fbStats']['comment_count']?> </td>
			</tr>
			<tr>
				<th> Comments Box </th>
				<td> <?=$extended['fbStats']['commentsbox_count']?> </td>
			</tr>
			<tr>
				<th> Total Counts </th>
				<td> <?= $extended['fbStats']['total_count']?> </td>
		</table>
	</div>
</div>

<!-- Single Count Social Media Sites-->
<div class="panel panel-default extended">
	<div class="panel-heading">
		Other Social Media
	</div>
	<div class="panel-body">
		<table class='table table-striped'>
			<tr>
				<th> Stumble Upon </th>
				<td> <?=$extended['stumbleUpon']?> </td>
			</tr>
			<tr>
				<th> Linked In </th>
				<td> <?=$extended['LinkedInShares']?> </td>
			</tr>
			<tr>
				<th> Pinterest </th>
				<td> <?=$extended['pinterest']?> </td>
			</tr>
			<tr>
				<th> Time On Site </th>
				<td> <?=$extended['alexa']['TimeOnSite']?> </td>
			</tr>
			<tr>
				<th> Search Visits </th>
				<td> <?=$extended['alexa']['SearchVisits']?> </td>
			</tr>
		</table>
	</div>
</div>

<!-- GeoGraphic Information -->
<div class="panel panel-default extended">
	<div class="panel-heading">
		Geographic
	</div>
	<div class="panel-body">
		<?php
			if (is_null($extended['geo'])) {
				echo "<B> No Geographic Information </B>";
			} else { ?>
		<table class='table table-striped'>
			<tr>
				<th> IP Address </th>
				<td> <?=$extended['geo']['ip']?> </td>
			</tr>
			<tr>
				<th> Country </th>
				<td> <?=$extended['geo']['country_name']?> ( <?=$extended['geo']['country_code']?> ) </td>
			</tr>
			<tr>
				<th> Region </th>
				<td> <?=$extended['geo']['region_name']?> ( <?=$extended['geo']['region_code']?> ) </td>
			</tr>
			<tr>
				<th> City </th>
				<td> <?=$extended['geo']['city']?> </td>
			</tr>
			<tr>
				<th> Time Zone </th>
				<td> <?=$extended['geo']['time_zone']?> </td>
			</tr>
		</table>

<?php			}
		?>
	</div>
</div>
