<form action="/search" method="POST">
    <div class="input-group input-group-lg">	
      <input type="text" id='search' name='search' data-provide="typeahead" data-items="30" class="form-control" placeholder="Domain Search" value="<?=$term?>">
      <span class="input-group-btn hidden-xs hidden-sm">
      	<button class="btn btn-default" type="submit"><i class='fa fa-search'></i> SEARCH</button>
      </span>
      <span class="input-group-btn hidden-md hidden-lg">
      	<button class="btn btn-default" type="submit"><i class='fa fa-search'></i></button>
      </span>
    </div><!-- /input-group -->
</form>
<script language="javascript">
	$('#search').autocomplete({
		source: function(query,process) {
			return $.get('/ac/'+query.term, function( data) {
				return process(JSON.parse(data));
			});
		}
	});
</script>
