<div class="content">
    <?php include('search.htm'); ?>
    <?php include('front-page-blurb.php');?>
    <?php include('pageList.htm'); ?>
    <?php include('paginate.htm'); ?>

</DIV>
<BR>
<?php include('banner.htm'); ?>

</div>
